<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>airportlist</key>
	<array>
		<dict>
			<key>IATA</key>
			<string>HND</string>
			<key>ICAO</key>
			<string>RJTT</string>
			<key>jpAirport</key>
			<string>東京国際空港（羽田空港）</string>
			<key>Airport</key>
			<string>Tokyo Int. Airport (Haneda)</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>FUK</string>
			<key>ICAO</key>
			<string>RJFF</string>
			<key>jpAirport</key>
			<string>福岡空港</string>
			<key>Airport</key>
			<string>Fukuoka Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>CTS</string>
			<key>ICAO</key>
			<string>RJCC</string>
			<key>jpAirport</key>
			<string>新千歳空港</string>
			<key>Airport</key>
			<string>New Chitose Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>KIX</string>
			<key>ICAO</key>
			<string>RJBB</string>
			<key>jpAirport</key>
			<string>関西国際空港</string>
			<key>Airport</key>
			<string>Kansai Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>NGO</string>
			<key>ICAO</key>
			<string>RJGG</string>
			<key>jpAirport</key>
			<string>中部国際空港</string>
			<key>Airport</key>
			<string>Chubu Centrair Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>OKA</string>
			<key>ICAO</key>
			<string>ROAH</string>
			<key>jpAirport</key>
			<string>那覇空港</string>
			<key>Airport</key>
			<string>Naha Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>WKJ</string>
			<key>ICAO</key>
			<string>RJCW</string>
			<key>jpAirport</key>
			<string>稚内空港</string>
			<key>Airport</key>
			<string>Wakkanai Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>KUH</string>
			<key>ICAO</key>
			<string>RJCK</string>
			<key>jpAirport</key>
			<string>釧路空港</string>
			<key>Airport</key>
			<string>Kushiro Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>HKD</string>
			<key>ICAO</key>
			<string>RJCH</string>
			<key>jpAirport</key>
			<string>函館空港</string>
			<key>Airport</key>
			<string>Hakodate Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>SDJ</string>
			<key>ICAO</key>
			<string>RJSS</string>
			<key>jpAirport</key>
			<string>仙台空港</string>
			<key>Airport</key>
			<string>Sendai Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>KIJ</string>
			<key>ICAO</key>
			<string>RJSN</string>
			<key>jpAirport</key>
			<string>新潟空港</string>
			<key>Airport</key>
			<string>Niigata Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>HIJ</string>
			<key>ICAO</key>
			<string>RJOA</string>
			<key>jpAirport</key>
			<string>広島空港</string>
			<key>Airport</key>
			<string>Hiroshima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>TAK</string>
			<key>ICAO</key>
			<string>RJOT</string>
			<key>jpAirport</key>
			<string>高松空港</string>
			<key>Airport</key>
			<string>Takamatsu Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>MYJ</string>
			<key>ICAO</key>
			<string>RJOM</string>
			<key>jpAirport</key>
			<string>松山空港</string>
			<key>Airport</key>
			<string>Matsuyama Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>KCZ</string>
			<key>ICAO</key>
			<string>RJOK</string>
			<key>jpAirport</key>
			<string>高知空港</string>
			<key>Airport</key>
			<string>Kochi Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>KKJ</string>
			<key>ICAO</key>
			<string>RJFR</string>
			<key>jpAirport</key>
			<string>北九州空港</string>
			<key>Airport</key>
			<string>Kitakyushu Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>NGS</string>
			<key>ICAO</key>
			<string>RJFU</string>
			<key>jpAirport</key>
			<string>長崎空港</string>
			<key>Airport</key>
			<string>Nagasaki Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>KMJ</string>
			<key>ICAO</key>
			<string>RJFT</string>
			<key>jpAirport</key>
			<string>熊本空港</string>
			<key>Airport</key>
			<string>Kumamoto Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>OIT</string>
			<key>ICAO</key>
			<string>RJFO</string>
			<key>jpAirport</key>
			<string>大分空港</string>
			<key>Airport</key>
			<string>Oita Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>KMI</string>
			<key>ICAO</key>
			<string>RJFM</string>
			<key>jpAirport</key>
			<string>宮崎空港</string>
			<key>Airport</key>
			<string>Miyazaki Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>KOJ</string>
			<key>ICAO</key>
			<string>RJFK</string>
			<key>jpAirport</key>
			<string>鹿児島空港</string>
			<key>Airport</key>
			<string>Kagoshima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>ITM</string>
			<key>ICAO</key>
			<string>RJOO</string>
			<key>jpAirport</key>
			<string>大阪国際空港・伊丹空港</string>
			<key>Airport</key>
			<string>Itami Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>AKJ</string>
			<key>ICAO</key>
			<string>RJEC</string>
			<key>jpAirport</key>
			<string>旭川空港</string>
			<key>Airport</key>
			<string>Asahikawa Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>OBO</string>
			<key>ICAO</key>
			<string>RJCB</string>
			<key>jpAirport</key>
			<string>帯広空港</string>
			<key>Airport</key>
			<string>Obihiro Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>AXT</string>
			<key>ICAO</key>
			<string>RJSK</string>
			<key>jpAirport</key>
			<string>秋田空港</string>
			<key>Airport</key>
			<string>Akita Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>GAJ</string>
			<key>ICAO</key>
			<string>RJSC</string>
			<key>jpAirport</key>
			<string>山形空港</string>
			<key>Airport</key>
			<string>Yamagata Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>UBJ</string>
			<key>ICAO</key>
			<string>RJDC</string>
			<key>jpAirport</key>
			<string>山口宇部空港</string>
			<key>Airport</key>
			<string>Yamaguchi-Ube Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>RIS</string>
			<key>ICAO</key>
			<string>RJER</string>
			<key>jpAirport</key>
			<string>利尻空港</string>
			<key>Airport</key>
			<string>Rishiri Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>RBJ</string>
			<key>ICAO</key>
			<string>RJCR</string>
			<key>jpAirport</key>
			<string>礼文空港</string>
			<key>Airport</key>
			<string>Rebun Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>OIR</string>
			<key>ICAO</key>
			<string>RJEO</string>
			<key>jpAirport</key>
			<string>奥尻空港</string>
			<key>Airport</key>
			<string>Okushiri Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>SHB</string>
			<key>ICAO</key>
			<string>RJCN</string>
			<key>jpAirport</key>
			<string>中標津空港</string>
			<key>Airport</key>
			<string>Nakashibetsu Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>MBE</string>
			<key>ICAO</key>
			<string>RJEB</string>
			<key>jpAirport</key>
			<string>紋別空港</string>
			<key>Airport</key>
			<string>Monbetsu Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>MMB</string>
			<key>ICAO</key>
			<string>RJCM</string>
			<key>jpAirport</key>
			<string>女満別空港</string>
			<key>Airport</key>
			<string>Memanbetsu Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>AOJ</string>
			<key>ICAO</key>
			<string>RJSA</string>
			<key>jpAirport</key>
			<string>青森空港</string>
			<key>Airport</key>
			<string>Aomori Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>HNA</string>
			<key>ICAO</key>
			<string>RJSI</string>
			<key>jpAirport</key>
			<string>花巻空港</string>
			<key>Airport</key>
			<string>Hanamaki Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>ONJ</string>
			<key>ICAO</key>
			<string>RJSR</string>
			<key>jpAirport</key>
			<string>大館能代空港</string>
			<key>Airport</key>
			<string>Odate-Noshiro Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>SYO</string>
			<key>ICAO</key>
			<string>RJSY</string>
			<key>jpAirport</key>
			<string>庄内空港</string>
			<key>Airport</key>
			<string>Shonai Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>FKS</string>
			<key>ICAO</key>
			<string>RJSF</string>
			<key>jpAirport</key>
			<string>福島空港</string>
			<key>Airport</key>
			<string>Fukushima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>OIM</string>
			<key>ICAO</key>
			<string>RJTO</string>
			<key>jpAirport</key>
			<string>大島空港</string>
			<key>Airport</key>
			<string>Oshima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>MYE</string>
			<key>ICAO</key>
			<string>RJTQ</string>
			<key>jpAirport</key>
			<string>三宅島空港</string>
			<key>Airport</key>
			<string>Miyakejima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>HAC</string>
			<key>ICAO</key>
			<string>RJTH</string>
			<key>jpAirport</key>
			<string>八丈島空港</string>
			<key>Airport</key>
			<string>Hachijojima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>SDS</string>
			<key>ICAO</key>
			<string>RJSD</string>
			<key>jpAirport</key>
			<string>佐渡空港</string>
			<key>Airport</key>
			<string>Sado Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>TOY</string>
			<key>ICAO</key>
			<string>RJNT</string>
			<key>jpAirport</key>
			<string>富山空港</string>
			<key>Airport</key>
			<string>Toyama Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>NTQ</string>
			<key>ICAO</key>
			<string>RJNW</string>
			<key>jpAirport</key>
			<string>能登空港</string>
			<key>Airport</key>
			<string>Noto Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>FKJ</string>
			<key>ICAO</key>
			<string>RJNF</string>
			<key>jpAirport</key>
			<string>福井空港</string>
			<key>Airport</key>
			<string>Fukui Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>MMJ</string>
			<key>ICAO</key>
			<string>RJAF</string>
			<key>jpAirport</key>
			<string>松本空港</string>
			<key>Airport</key>
			<string>Matsumoto Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>FSZ</string>
			<key>ICAO</key>
			<string>RJNS</string>
			<key>jpAirport</key>
			<string>静岡空港</string>
			<key>Airport</key>
			<string>Shizuoka Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>UKB</string>
			<key>ICAO</key>
			<string>RJBE</string>
			<key>jpAirport</key>
			<string>神戸空港</string>
			<key>Airport</key>
			<string>Kobe Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>SHM</string>
			<key>ICAO</key>
			<string>RJBD</string>
			<key>jpAirport</key>
			<string>南紀白浜空港</string>
			<key>Airport</key>
			<string>Nanki-shirahama Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>TTJ</string>
			<key>ICAO</key>
			<string>RJOR</string>
			<key>jpAirport</key>
			<string>鳥取空港</string>
			<key>Airport</key>
			<string>Tottori Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>IZO</string>
			<key>ICAO</key>
			<string>RJOC</string>
			<key>jpAirport</key>
			<string>出雲空港</string>
			<key>Airport</key>
			<string>Izumo Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>IWJ</string>
			<key>ICAO</key>
			<string>RJOW</string>
			<key>jpAirport</key>
			<string>石見空港</string>
			<key>Airport</key>
			<string>Iwami Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>OKJ</string>
			<key>ICAO</key>
			<string>RJOB</string>
			<key>jpAirport</key>
			<string>岡山空港</string>
			<key>Airport</key>
			<string>Okayama Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>HSG</string>
			<key>ICAO</key>
			<string>RJFS</string>
			<key>jpAirport</key>
			<string>佐賀空港</string>
			<key>Airport</key>
			<string></string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>TSJ</string>
			<key>ICAO</key>
			<string>RJDT</string>
			<key>jpAirport</key>
			<string>対馬空港</string>
			<key>Airport</key>
			<string>Tsushima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>FUJ</string>
			<key>ICAO</key>
			<string>RJFE</string>
			<key>jpAirport</key>
			<string>福江空港</string>
			<key>Airport</key>
			<string>Fukue Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>IKI</string>
			<key>ICAO</key>
			<string>RJDB</string>
			<key>jpAirport</key>
			<string>壱岐空港</string>
			<key>Airport</key>
			<string>Iki Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>TNE</string>
			<key>ICAO</key>
			<string>RJFG</string>
			<key>jpAirport</key>
			<string>種子島空港</string>
			<key>Airport</key>
			<string>Tanegashima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>KUM</string>
			<key>ICAO</key>
			<string>RJFC</string>
			<key>jpAirport</key>
			<string>屋久島空港</string>
			<key>Airport</key>
			<string>Yakushima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>ASJ</string>
			<key>ICAO</key>
			<string>RJKA</string>
			<key>jpAirport</key>
			<string>奄美空港</string>
			<key>Airport</key>
			<string>Amami Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>KKX</string>
			<key>ICAO</key>
			<string>RJKI</string>
			<key>jpAirport</key>
			<string>喜界空港</string>
			<key>Airport</key>
			<string>Kikai Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>TKN</string>
			<key>ICAO</key>
			<string>RJKN</string>
			<key>jpAirport</key>
			<string>徳之島空港</string>
			<key>Airport</key>
			<string>Tokunoshima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>OKE</string>
			<key>ICAO</key>
			<string>RJKB</string>
			<key>jpAirport</key>
			<string>沖永良部空港</string>
			<key>Airport</key>
			<string>Okinoerabu Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>AGJ</string>
			<key>ICAO</key>
			<string>RORA</string>
			<key>jpAirport</key>
			<string>粟国空港</string>
			<key>Airport</key>
			<string>Aguni Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>UEO</string>
			<key>ICAO</key>
			<string>ROKJ</string>
			<key>jpAirport</key>
			<string>久米島空港</string>
			<key>Airport</key>
			<string>Kumejima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>KJP</string>
			<key>ICAO</key>
			<string>ROKR</string>
			<key>jpAirport</key>
			<string>慶良間空港</string>
			<key>Airport</key>
			<string>Kerama Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>MMD</string>
			<key>ICAO</key>
			<string>ROMD</string>
			<key>jpAirport</key>
			<string>南大東空港</string>
			<key>Airport</key>
			<string>Minami-Daito Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>KTD</string>
			<key>ICAO</key>
			<string>RORK</string>
			<key>jpAirport</key>
			<string>北大東空港</string>
			<key>Airport</key>
			<string>Kitadaito Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>IEJ</string>
			<key>ICAO</key>
			<string>RORE</string>
			<key>jpAirport</key>
			<string>伊江島空港</string>
			<key>Airport</key>
			<string>Iejima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>MMY</string>
			<key>ICAO</key>
			<string>ROMY</string>
			<key>jpAirport</key>
			<string>宮古空港</string>
			<key>Airport</key>
			<string>Miyako Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>SHI</string>
			<key>ICAO</key>
			<string>RORS</string>
			<key>jpAirport</key>
			<string>下地島空港</string>
			<key>Airport</key>
			<string>Shimojijima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>TRA</string>
			<key>ICAO</key>
			<string>RORT</string>
			<key>jpAirport</key>
			<string>多良間空港</string>
			<key>Airport</key>
			<string>Tarama Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>ISG</string>
			<key>ICAO</key>
			<string>ROIG</string>
			<key>jpAirport</key>
			<string>新石垣空港</string>
			<key>Airport</key>
			<string>New Ishigaki Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>HTR</string>
			<key>ICAO</key>
			<string>RORH</string>
			<key>jpAirport</key>
			<string>波照間空港</string>
			<key>Airport</key>
			<string>Hateruma Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>OGN</string>
			<key>ICAO</key>
			<string>ROYN</string>
			<key>jpAirport</key>
			<string>与那国空港</string>
			<key>Airport</key>
			<string>Yonaguni Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>MSJ</string>
			<key>ICAO</key>
			<string>RJSM</string>
			<key>jpAirport</key>
			<string>三沢空港</string>
			<key>Airport</key>
			<string>Misawa Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>IBR</string>
			<key>ICAO</key>
			<string>RJAH</string>
			<key>jpAirport</key>
			<string>茨城空港</string>
			<key>Airport</key>
			<string>Ibaraki Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>KMQ</string>
			<key>ICAO</key>
			<string>RJNK</string>
			<key>jpAirport</key>
			<string>小松空港</string>
			<key>Airport</key>
			<string>Komatsu Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>YGJ</string>
			<key>ICAO</key>
			<string>RJOH</string>
			<key>jpAirport</key>
			<string>米子空港</string>
			<key>Airport</key>
			<string>Yonago Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>TKS</string>
			<key>ICAO</key>
			<string>RJOS</string>
			<key>jpAirport</key>
			<string>徳島空港</string>
			<key>Airport</key>
			<string>Tokushima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>OKD</string>
			<key>ICAO</key>
			<string>RJCO</string>
			<key>jpAirport</key>
			<string>丘珠空港</string>
			<key>Airport</key>
			<string>Okadama Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>NKM</string>
			<key>ICAO</key>
			<string>RJNA</string>
			<key>jpAirport</key>
			<string>小牧空港・名古屋飛行場</string>
			<key>Airport</key>
			<string>Komaki Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>TJH</string>
			<key>ICAO</key>
			<string>RJBT</string>
			<key>jpAirport</key>
			<string>但馬空港</string>
			<key>Airport</key>
			<string>Tajima Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>IATA</key>
			<string>AXJ</string>
			<key>ICAO</key>
			<string>RJDA</string>
			<key>jpAirport</key>
			<string>天草空港</string>
			<key>Airport</key>
			<string>Amakusa Airport</string>
			<key>Country</key>
			<string>jp</string>
		</dict>
	</array>
</dict>
</plist>
