<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ONJ</key>
	<array>
		<string>MainTerminal</string>
		<string>2</string>
	</array>
	<key>HNA</key>
	<array>
		<string>MainTerminal</string>
		<string>2</string>
	</array>
	<key>AOJ</key>
	<array>
		<string>MainTerminal</string>
		<string>2</string>
	</array>
	<key>MMB</key>
	<array>
		<string>MainTerminal</string>
		<string>2</string>
	</array>
	<key>MBE</key>
	<array>
		<string>MainTerminal</string>
		<string>1</string>
	</array>
	<key>SHB</key>
	<array>
		<string>MainTerminal</string>
		<string>2</string>
	</array>
	<key>OIR</key>
	<array>
		<string>MainTerminal</string>
		<string>1</string>
	</array>
	<key>RIS</key>
	<array>
		<string>MainTerminal</string>
		<string>1</string>
	</array>
	<key>RBJ</key>
	<array>
		<string>MainTerminal</string>
		<string>1</string>
	</array>
	<key>UBJ</key>
	<array>
		<string>MainTerminal</string>
		<string>International</string>
		<string>3</string>
	</array>
	<key>GAJ</key>
	<array>
		<string>MainTerminal</string>
		<string>2</string>
	</array>
	<key>AXT</key>
	<array>
		<string>MainTerminal</string>
		<string>3</string>
	</array>
	<key>OBO</key>
	<array>
		<string>MainTerminal</string>
		<string>2</string>
	</array>
	<key>AKJ</key>
	<array>
		<string>MainTerminal</string>
		<string>3</string>
	</array>
	<key>ITM</key>
	<array>
		<string>NorthTerminal</string>
		<string>CenterTerminal</string>
		<string>SouthTerminal</string>
		<string>2</string>
	</array>
	<key>KOJ</key>
	<array>
		<string>MainTerminal</string>
		<string>2</string>
	</array>
	<key>KMI</key>
	<array>
		<string>MainTerminal</string>
		<string>3</string>
	</array>
	<key>OIJ</key>
	<array>
		<string>MainTerminal</string>
		<string>International</string>
		<string>2</string>
	</array>
	<key>KMJ</key>
	<array>
		<string>MainTerminal</string>
		<string>2</string>
	</array>
	<key>NGS</key>
	<array>
		<string>MainTerminal</string>
		<string>3</string>
	</array>
	<key>KIJ</key>
	<array>
		<string>MainTerminal</string>
		<string>3</string>
	</array>
	<key>MYJ</key>
	<array>
		<string>MainTerminal</string>
		<string>3</string>
	</array>
	<key>KKJ</key>
	<array>
		<string>MainTerminal</string>
		<string>2</string>
	</array>
	<key>KCZ</key>
	<array>
		<string>MainTerminal</string>
		<string>2</string>
	</array>
	<key>TAK</key>
	<array>
		<string>MainTerminal</string>
		<string>2</string>
	</array>
	<key>HIJ</key>
	<array>
		<string>MainTerminal</string>
		<string>3</string>
	</array>
	<key>SDJ</key>
	<array>
		<string>MainTerminal</string>
		<string>3</string>
	</array>
	<key>HKD</key>
	<array>
		<string>MainTerminal</string>
		<string>International</string>
		<string>3</string>
	</array>
	<key>KUH</key>
	<array>
		<string>MainTerminal</string>
		<string>3</string>
	</array>
	<key>WKJ</key>
	<array>
		<string>MainTerminal</string>
		<string>1</string>
	</array>
	<key>OKA</key>
	<array>
		<string>MainTerminal</string>
		<string>4</string>
	</array>
	<key>NGO</key>
	<array>
		<string>MainTerminal</string>
		<string>AccessPlaza</string>
		<string>4</string>
	</array>
	<key>KIX</key>
	<array>
		<string>AeroPlaza</string>
		<string>Terminal-2</string>
		<string>Terminal-1</string>
		<string>3</string>
	</array>
	<key>CTS</key>
	<array>
		<string>International</string>
		<string>Domestic</string>
		<string>4</string>
	</array>
	<key>FUK</key>
	<array>
		<string>Terminal-1</string>
		<string>Terminal-2</string>
		<string>Terminal-3</string>
		<string>International</string>
		<string>4</string>
	</array>
	<key>HND</key>
	<array>
		<string>Terminal-1</string>
		<string>Terminal-2</string>
		<string>International</string>
		<string>5</string>
	</array>
</dict>
</plist>
